handleColor = green
back-grey = #EEEEEE
dark-grey = #E0E0E0
text-grey = #757575
purple = #303F9F;

/********************************
* All Pages
********************************/
h1{
  color:handleColor;
}
.marginTop
{
	margin:10px;
}
.brand-name{
  color:handleColor;
}
body{background-color:back-grey}

p{
  word-wrap: break-word;
}
.navbar{
  padding-bottom:0px;
}
.capitalize{
  text-transform: capitalize;
}
.inline-block{
  display:inline-block;
}
/********************************
* Post Page
********************************/
.home-item{
  color:black;
}
.post-handle
{
	font-size:0.8em;
  color:text-grey;
  margin:0px;
}

.post-fullname{
  text-transform: capitalize;
  margin:0px;
}
span.avatar{
    border-radius: 25px;
    border: 0px solid handleColor;
    padding: 10px;
    margin-right:4px;
    margin-bottom:8px;
    color:#fff;
}
.post-container{
  margin:auto;
  max-width:700px;
  min-width:300px;
}
.post-panel
{
  padding:16px;
  background-color:dark-grey;
}
.button-pane{
    margin-top:8px;
    padding-right:8px;
}

p.post-body {  margin:0px; margin-top:-8px; word-wrap: break-word; font-size:1.2em; color:black}
.post-item{margin-bottom:5px;}

.post-time{
  font-size:0.75em;
  color:text-grey;
  padding:0px;
  margin:0px;
}

.selected{
  background-color:dark-grey;
  font-weight: bold;
  color: black;
}

/********************************
* Login Page
*********************************/
#register-title,
#login-title{
  color:#616161;
  margin-bottom:16px;
}
.register-pane,
.login-pane{
  padding:20px 30px;
  background:#fff;
  border-radius:2%;
  margin:auto;
  max-width:400px;
  min-width:300px;
  box-shadow: 0 -1px 0 #B6B6B6 inset;
}

.signup-pane{
  margin-top: 16px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.forgot-link{
  color:handleColor;
}
.forgot-button{
  font-size:0.85em;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
  /*background: rgba(255,255,255,0.1);*/
  font-family: 'Roboto Slab', serif;
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 12px;
  width: 100%;
  background-color:#fff;
  color: black;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
