<div class='container post-container' >

  <ul class='list-group'>
    <li ng-hide="currentUser.uid == user.uid" class='list-group-item post-item card' ng-repeat='user in users'>
      <span class="avatar glyphicon glyphicon-user"></span>
      <strong class="handle">@{{user.username}}</strong><br>

      <button type="button" class="btn image-button" ng-class="{'btn-danger': isFollowing(user.uid)}" ng-click="toggleFollow(user)">
        <span class="glyphicon glyphicon-plus"  ng-class="{'glyphicon-remove': isFollowing(user.uid)}" aria-hidden="true"></span>
        <span ng-show="isFollowing(user.uid)">unfollow</span>
        <span ng-hide="isFollowing(user.uid)">follow</span>
      </button>
      <span ng-show="isFollowing(user.uid)">following</span>
    </li>
  </ul>

</div>
<!-- ng-if="post.uid == currentUser.uid" USE THIS IDEA TO IMPLEMENT FOLLOWERS-->
<!-- style="color:blue;margin-left:30px;" use ng-style-->
