<div class="card container login-pane">
  <div  ng-show="errorMessage" class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong>  {{errorMessage}}
  </div>
  <div ng-show="emailSent" class="alert alert-success" role="alert">
    <span>A password reset link has been sent to your email.<span><br>
    <strong>{{email}}</strong>
  </div>
  <form ng-submit="sendResetEmail(email)" class="card-block">
    <h4 ng-hide="emailSent" class="card-title" id="login-title">Password reset</h4>
     <div ng-hide="emailSent" class="form-group">
       <input placeholder="email" class="form-control input" type="email" ng-model="email">
     </div>
    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
     <input ng-hide="emailSent" class="btn btn-lg btn-block theme"  ng-disabled="dataLoading" type="submit" value="Send">
   </form>
   <div class="signup-pane">
     <a class="nav-link signup-link" href="/#/">
       <h6 class="signup-button">Cancel</h6>
     </a>
  </div>
</div>
