<div class="card container login-pane">
  <div ng-show="errorMessage" class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong> {{errorMessage}}
  </div>
  <form ng-submit="login(email, password)" class="card-block">
    <h4 class="card-title" id="login-title">Sign in</h4>
     <div class="form-group">
       <input placeholder="email" class="form-control input" type="email" ng-model="email">
     </div>
     <div class="form-group">
       <!-- <label>Password</label> -->
       <input  placeholder="Password" class="form-control input" type="password" ng-model="password">
    </div>
    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
     <input class="btn btn-success btn-lg btn-block"  ng-disabled="dataLoading" type="submit" value="Login">
     <div class="signup-pane">
       <a class="nav-link forgot-link" href="/#/forgotPassword">
         <h6 class="forgot-button">Forgot your password?</h6>
       </a>
       <a class="nav-link signup-link" href="/#/register">
         <h6 class="signup-button">Signup</h6>
       </a>
    </div>
   </form>
</div>
