<div class='container post-container' >

  

  <!-- List of Notifications -->
  <ul class='list-group'>
    <li class='list-group-item post-item card' ng-repeat='post in notificationPosts | orderBy:"post.key":true'>

      <!-- Avatar -->
      <span class="avatar glyphicon glyphicon-user " ng-style="{'background-color':post.color}"></span>
      <p>
        <strong class="post-fullname" ng-style="{color:post.color}">{{post.fullname}}</strong> <span class="  post-handle">@{{post.username}}<span> <br>
        <span class="post-time">{{post.time}}</span>
      </p>

      <!-- Text -->
      <div ng-hide="post.type === 'K-bits'" class="text-post">
        <p class="post-body" ng-bind-html="post.body | linky:'_blank'"></p>
      </div>

      <!-- Flash-Cards -->
      <div ng-show="post.type === 'K-bits'" class="flip card">
        <!-- <img src="/img/light-bulb.png" alt="light-bulb" width="35" height="35"> -->
        <!-- <i class="fa fa-lightbulb-o yellow" aria-hidden="true"></i> -->
        <div class="card flash-card" ng-class="{'flipped':isFlipped}" ng-click="isFlipped = !isFlipped">
            <div ng-hide="isFlipped" class="face front card">
               <!-- Question -->
               <i class="fa fa-question yellow" aria-hidden="true"></i>
               <h5 class="flash-title">Question:</h5>
               <p class="k-card-content" ng-bind-html="post.title | linky:'_blank'">
               </p>
               <span class="k-quest-text glyphicon glyphicon-hand-up"><span class="tap-text">Tap</span></span>
            </div>
            <div ng-show="isFlipped" class="face back card">
              <!-- Answer -->
              <i class="fa fa-lightbulb-o yellow" aria-hidden="true"></i>
              <h5 class="flash-title">Answer:</h5>
              <p class="k-card-content" ng-bind-html="post.body | linky:'_blank'">
              </p>
              <span class="k-ans-text glyphicon glyphicon-hand-up"><span class="tap-text">Tap</span></span>
            </div>
        </div>
      </div>
      <div class="tags-div">
        <span ng-show="post.type === 'K-bits'"ng-repeat='tag in post.tags'class="label tags">
        {{tag.text}}
      </span>
      </div>

      <!-- Likes -->
      <div id="vote-div">
        <span class="post-vote-button glyphicon glyphicon-thumbs-up" ng-class='{blue: votedThisPost(post.votes)}' ng-click="toggleVote(post.key, post.uid)">
        </span>
        <span ng-class='{blue: votedThisPost(post.votes)}' id="vote-count">{{post.voteCount}}</span>
      </div>
    </li>
  </ul>


</div>
