<div class='container post-container' >

  <form ng-submit="addPost()" class="card post-panel">

    <ul class="nav nav-tabs">
      <li role="presentation" class="active" ng-class="{'active': isSelectedPost(0)}"><a class="grey" ng-click="setPostType(0)">Text</a></li>
      <li role="presentation" ng-class="{'active': isSelectedPost(1)}">
        <a class="grey" ng-click="setPostType(1)" ><span class="glyphicon glyphicon-flash"></span>Card</a>
      </li>
    </ul>

    <!-- Text elements -->
    <div ng-show="isSelectedPost(0)" class="text-panel">
      <textarea placeholder="What's on ur mind homie ?" ng-model='postBody' class='form-control post-text-body'>
      </textarea>
    </div>

    <!-- K-bits[Flash Card] elements -->
    <div ng-show="isSelectedPost(1)" class="k-bit-panel">
      <div  class="form-group">
         <input placeholder="Front of the card ?" class="form-control input" type="text" ng-model='question'>
       </div>
       <div class="form-group">
         <input  placeholder="Back of the card :)" class="form-control input" type="text" ng-model='answer'>
      </div>
      <tags-input ng-model="tags" add-on-paste="true">
        <auto-complete source="loadTags($query)"></auto-complete>
      </tags-input>
      <div class"tags-margin"><p> </p></div>
    </div>


    <!-- Button Pane -->
    <div class="button-pane">
      <button type="button" class="btn image-button theme"  ng-class="{disabled:!isValidPost()}" ng-click="addPost()">
        Share
      </button>
    </div>

  </form>

  <!-- List of Posts -->
  <ul class='list-group'>
    <li ng-if="isPostForMe(post.username, post.uid)" class='list-group-item post-item card' ng-repeat='post in posts | orderBy:"post.key":true'>

      <!-- Avatar -->
      <span class="avatar glyphicon glyphicon-user " ng-style="{'background-color':post.color}"></span>
      <p>
        <strong class="post-fullname" ng-style="{color:post.color}">{{post.fullname}}</strong> <span class="  post-handle">@{{post.username}}<span> <br>
        <span class="post-time">{{post.time}}</span>
      </p>

      <!-- Text -->
      <div ng-hide="post.type === 'K-bits'" class="text-post">
        <p class="post-body" ng-bind-html="post.body | linky:'_blank'"></p>
      </div>

      <!-- Flash-Cards -->
      <div ng-show="post.type === 'K-bits'" class="flip card">
        <div class="card flash-card" ng-class="{'flipped':isFlipped}" ng-click="isFlipped = !isFlipped">
            <div ng-hide="isFlipped" class="face front card">
               <!-- Question -->
               <i class="fa fa-question yellow" aria-hidden="true"></i>
               <h5 class="flash-title">Front:</h5>
               <p class="k-card-content" ng-bind-html="post.title | linky:'_blank'">
               </p>
               <span class="k-quest-text glyphicon glyphicon-hand-up"><span class="tap-text">Tap</span></span>
            </div>
            <div ng-show="isFlipped" class="face back card">
              <!-- Answer -->
              <i class="fa fa-lightbulb-o yellow" aria-hidden="true"></i>
              <h5 class="flash-title">Back:</h5>
              <p class="k-card-content" ng-bind-html="post.body | linky:'_blank'">
              </p>
              <span class="k-ans-text glyphicon glyphicon-hand-up"><span class="tap-text">Tap</span></span>
            </div>
        </div>
      </div>
      <div class="tags-div">
        <span ng-show="post.type === 'K-bits'"ng-repeat='tag in post.tags'class="label tags">
        {{tag.text}}
      </span>
      </div>

      <!-- Likes -->
      <div id="vote-div">
        <span class="post-vote-button glyphicon glyphicon-thumbs-up" ng-class='{blue: votedThisPost(post.votes)}' ng-click="toggleVote(post.key, post.uid)">
        </span>
        <span ng-class='{blue: votedThisPost(post.votes)}' id="vote-count">{{post.voteCount}}</span>
      </div>
    </li>
  </ul>


</div>
