<div class='container post-container' >

  <form ng-submit="addPost()" class="card post-panel">
    <textarea placeholder="What's on ur mind homie ?" ng-model='postBody' class='form-control'>
      </textarea>
    <!-- <input type="submit" class="btn btn-success post-button" class='btn btn-default' value="Post"></input> -->
    
    <div class="button-pane">
      <button type="button" class="btn btn-success image-button"  ng-click="addPost()">
        <!-- <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> -->
        Share
      </button>
      <!-- <input type="file" ng-model="photo"></input> -->
    </div>
    
     <!-- <input ng-click="google()" class="btn btn-success post-button" class='btn btn-default' value="SignIn"></input> -->
  </form>

  <ul class='list-group'>
    <li class='list-group-item post-item card' ng-repeat='post in posts | orderBy:"date":true'>
      <span class="avatar glyphicon glyphicon-user"></span> 
      <strong class="handle">@{{post.username}}</strong><br>
      <span class="post-time">{{post.time}}</span>
      <p class="post-body">{{post.body}}</p>
    </li>
  </ul>


</div>
<!-- style="color:blue;margin-left:30px;" use ng-style-->