<div class="card container register-pane">
  <!-- <div ng-show="invalidForm" class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong> Your form is incomplete :(
  </div> -->
  <form data-toggle="validator" ng-submit="register(username, email, password)" class="card-block">
    <h4 class="card-title" id="register-title">Register</h4>
     <div class="form-group">
       <input placeholder="Username" class="form-control" type="text" ng-model="username" required>
         <div class="help-block with-errors"></div>
     </div>
     <div class="form-group">
       <input placeholder="Email" class="form-control" type="email" ng-model="email" required>
       <div class="help-block with-errors"></div>
     </div>
     <div class="form-group">
       <input placeholder="Password" class="form-control" type="password" ng-model="password" required>
       <div class="help-block with-errors"></div>
     </div>     <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
     <input class="btn btn-success btn-lg btn-block" ng-disabled="dataLoading" type="submit" value="Register">
   </form>
</div>
<!-- ng-class="invalidForm ? 'disabled' : ''"  -->