<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A LAN chatting application">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jabber</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="/app.css">
  </head>

  <body ng-app='app' ng-controller='ApplicationCtrl' layout-xs="column">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <!-- Main script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
    <script src='/app.js'></script>

    <!-- navigation bar -->
    <nav class='navbar navbar-default'>
      <div class='container'>
        <ul class="nav navbar-nav">
          <li><a href="/#/">Posts</a></li>
          <li><a href="/#/register">Register</a></li>
          <li><a href="/#/login">Login</a></li>
        </ul>
        <p ng-if='currentUser' class="navbar-text navbar-right"> Signed in as {{currentUser.username}} </p>
      </div>
    </nav>

    <!-- section that gets replaced by templates -->
    <div ng-view></div>

  </body>
</html>
